<div class="container">
    <div class="row  align-items-center" style="height: 100vh;">
        <div class="col-xs-12 col-md-3">
            <img src="../../assets/img/Logo.svg" class="mb-5">
            <div>
                <img src="../../assets/img/Email-icon.svg" class="mr-2"> 
               
               <label  style="font-weight: 600;">Email Address</label>
               <input type="text" class="form-control mb-3" placeholder="Email">
            </div>
            <div>
                <img src="../../assets/img/Password-icon.svg" class="mr-2"> 
               
               <label style="font-weight: 600;">Password</label>
               <input type="text" class="form-control mb-3" placeholder="Password">
               <a routerLink= "/dashboard1" class="text-white" style="text-decoration: none;"><button type="button" class="btn btn-primary form-control mb-3">Sign in</button></a>
               <span class="text-muted">Don’t have an account?</span><a class="signup-link" href=""> Sign up</a>
            </div>
           
        </div>
    </div>
    
   
</div>

<div class="bg-img">
    <img src="../../assets/img/Login-img.svg">	
</div>


<footer class="bg-light" style="height: 140px; box-sizing: border-box; padding: 25px 0; margin-top: -70px;">
<div class="container-fluid">
    <div class="footter-element " style="display: flex;">
        <img src="../../assets/img/Call-icon.svg" style="width: 15px;"class="mr-1">

        <h4 class="text-info" style="font-size: 16px; font-weight: 400; margin-left: 3px;">847-769-8937</h4>
        <img src="../../assets/img/Mail-icon.svg" style="margin-left: 10px; width: 15px;" class="mr-1">
        <h4 class="text-info " style="font-size: 16px; font-weight: 400; margin-left: 3px;">sales@ensarsolutions.com</h4>

    </div>
    <span class="text-muted">Copyright &copy; 2020 Ensar Solutions.</span>
</div>
</footer>