<nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 sidebar navbar-fixed-top">
          <div class="mt-3 ml-5">
            <img src="../../assets/images/group-1220-1@1x.png" width="80%" >
        </div> 
       <div class="bg mt-4">  
        <img class=" ml-4 mt-3" src="../../assets/images/nopath---copy@1x.png" width="20%">
        <div class=" john ">John Smith</div>
      <a href="#" class="log-out"> <img src="../../assets/images/1286969@1x.png" width="15px" > Log out</a>   
       </div>
       <ul class="navbar-nav flex-column mt-4 ml-4">
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><img src="../../assets/images/dashboard-1.svg " width="18px" class="mr-2"> Dashboard</a></li>
    
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link "><img src="../../assets/images/invoice.svg" width="18px" class="mr-2">Create Invoice</a></li>
    
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 current"><img src="../../assets/images/invoice-2.svg" width="18px" class="mr-2"> My Invoice</a></li>
    
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><img src="../../assets/images/contacts.svg" width="18px" class="mr-2" > My Contacts</a></li>
    
       </ul>
      </div>
      </div>
    </div>
    </nav>

    <div class="my-invoice">
    <img src="../../assets/images/group-1331@1x.png" width="200px" />
    <div style="font-size: 15px; font-weight: 100;" class="mt-4">
         <span class="text-mutted">Your Invoice</span>
         <span class="text-info"> #243123</span>
         <span class="text-mutted"> was sent to</span> <br>
         <a routerLink = "/screen7"><span class="text-info">ABC Company Pvt Ltd</span></a>
         <span class="text-mutted"> Successfully</span>
    </div>
</div>