<div class="screen-bg"></div>

<div class="group-1341-C61RwL"><img class="group-1220-sxfxgR" src="../../assets/images/group-1220-7@1x.png" style="margin-top: 20px; margin-left: 20px ;"></div>
<div class="invoice-bg"></div>
<div class="invoice">
    <div >Subject</div>
        <div  style="margin-left:120px ; margin-top: -40px;">Invoice xxx xxxxxxxx xxx xxxxx</div>
        
        <div >Invoice for</div>
        <div  style="margin-left:120px ; margin-top: -40px;">ABC COmpany Pvt Ltd</div>
        
        <div >Issue Data</div>
        <div  style="margin-left:120px ; margin-top: -40px;">12/11/2020</div>
       
        <div>PO Number</div>
        <div style="margin-left:120px ; margin-top: -40px;">XYZ 23453234</div>

        <div >Due Date</div>
        <div  style="margin-left:120px ; margin-top: -40px;">23/11/2020</div>

        <div >Discount</div>
        <div  style="margin-left:120px ; margin-top: -40px;">₹ 1000.00</div>
    
        <div style="margin-top: -120px; margin-left:700px ; line-height: 30px;">
         From <br   > 50 South main street,<br />Suite 200,Naperville,<br />IL 60540
        </div>
        <div class="table-bg mt-4">
            <div class="mt-3 ml-3">
             <table class="table"  >
               <thead>
                   <tr>
                       <th >Input type</th>
                       <th>Description</th>
                       <th  >Quantity</th>
                       <th>Unit Price</th>
                       <th>CGST%</th>
                       <th>SGST%</th>
                       <th>Amount</th>
                   </tr>
               </thead>
               <tbody>
                 <tr>
                     <td>xxxxxxx</td>
                     <td>xxxx xxxxxx xxxxx xxxxxxxx</td>
                     <td>xx</td>
                     <td>₹ xxxx</td>
                     <td>xx</td>
                     <td>xx</td>
                     <td>₹ xxxxxx</td>
                 </tr>
                 <tr>
                   <td>xxxxxxx</td>
                   <td>xxxx xxxxxx xxxxx xxxxxxxx</td>
                   <td >xx</td>
                   <td>₹ xxxx</td>
                   <td>xx</td>
                   <td>xx</td>
                   <td>₹ xxxxxx</td>
               </tr>
               </tbody>
               </table>
            </div>
          </div>
          <table class="td2 table  border-right  border-left  border-bottom border-top">
            <tr>
              <td class="bg2">Amount</td>
              <td>₹ 10000</td>
            </tr>
            <tr>
              <td class="bg2">Discount</td>
              <td>₹ 1000</td>
            </tr>
            <tr>
              <td class="bg2">Total Amount</td>
              <td>₹ 9000</td>
            </tr>
          </table>
          <img style="width: 940px;" src="../../assets/images/line-10@1x.png">
          <div class="col-md-3 mb-3" >
            <a routerLink="/payinvoice1"><button class="btn1 btn-lg px-4 mr-3">Pay Now</button></a>
        </div>
        <div class="mt-5 mb-3 text-muted" style="margin-left: 350px; font-size: 18px;">
            <span>Powered by <img src="../../assets/images/group-1342@1x.png" width="200px"></span>
        </div>
        <div class= "text-muted" style="margin-left: 200px; font-size: 18px; line-height: normal;">
            <span class="ml-5">This invoice was generated with the help of Ensar Solutions. <br>
              </span>
              <span>To learn more, and create your own free account visit </span>
            <span class="text-primary"> www.ensarsolutions.com</span>
        </div>
    </div>
