<nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 sidebar navbar-fixed-top">
          <div class="mt-3 ml-5">
            <img src="../../assets/images/group-1220-1@1x.png" width="80%" >
        </div> 
       <div class="bg mt-4">  
        <img class=" ml-4 mt-3" src="../../assets/images/nopath---copy@1x.png" width="20%">
        <div class=" john ">John Smith</div>
      <a href="#" class="log-out"> <img src="../../assets/images/1286969@1x.png" width="15px" > Log out</a>   
       </div>
       <ul class="navbar-nav flex-column mt-4 ml-4">
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><img src="../../assets/images/dashboard-1.svg " width="18px" class="mr-2"> Dashboard</a></li>
    
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 current "><img src="../../assets/images/invoice.svg" width="18px" class="mr-2">Create Invoice</a></li>
    
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><img src="../../assets/images/invoice-2.svg" width="18px" class="mr-2"> My Invoice</a></li>
    
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><img src="../../assets/images/contacts.svg" width="18px" class="mr-2" > My Contacts</a></li>
    
       </ul>
      </div>
      </div>
    </div>
    </nav>

    <div class="row topbar">
        <div class="col-lg-8">
  <div class="card-body ">
    <div class="text-info mb-3" style="font-weight: 400; font-size: 20px;  "><img src="../../assets/images/invoicec2.svg" width="18px" > Invoice </div>
    
    <img src="../../assets/images/line-4@1x.png" width="1060px" class="mb-2">
    <div style="line-height: 38px;">
        <div >Subject</div>
        <div  style="margin-left:120px ; margin-top: -40px;">Invoice xxx xxxxxxxx xxx xxxxx</div>
        
        <div >Invoice for</div>
        <div  style="margin-left:120px ; margin-top: -40px;">ABC COmpany Pvt Ltd</div>
        
        <div >Issue Data</div>
        <div  style="margin-left:120px ; margin-top: -40px;">12/11/2020</div>
       
        <div>PO Number</div>
        <div style="margin-left:120px ; margin-top: -40px;">XYZ 23453234</div>

        <div >Due Date</div>
        <div  style="margin-left:120px ; margin-top: -40px;">23/11/2020</div>

        <div >Discount</div>
        <div  style="margin-left:120px ; margin-top: -40px;">₹ 1000.00</div>
        </div>
        <div style="margin-top: -120px; margin-left:800px ; line-height: 30px;">
         From <br   > 50 South main street,<br />Suite 200,Naperville,<br />IL 60540
        </div>
        <div class="table-bg mt-4">
            <div class="mt-3 ml-3">
             <table class="table"  >
               <thead>
                   <tr>
                       <th >Input type</th>
                       <th>Description</th>
                       <th  >Quantity</th>
                       <th>Unit Price</th>
                       <th>CGST%</th>
                       <th>SGST%</th>
                       <th>Amount</th>
                   </tr>
               </thead>
               <tbody>
                 <tr>
                     <td>xxxxxxx</td>
                     <td>xxxx xxxxxx xxxxx xxxxxxxx</td>
                     <td>xx</td>
                     <td>₹ xxxx</td>
                     <td>xx</td>
                     <td>xx</td>
                     <td>₹ xxxxxx</td>
                 </tr>
                 <tr>
                   <td>xxxxxxx</td>
                   <td>xxxx xxxxxx xxxxx xxxxxxxx</td>
                   <td >xx</td>
                   <td>₹ xxxx</td>
                   <td>xx</td>
                   <td>xx</td>
                   <td>₹ xxxxxx</td>
               </tr>
               </tbody>
               </table>
            </div>
          </div>
          <table class="td2 table  border-right  border-left  border-bottom border-top">
            <tr>
              <td class="bg2">Amount</td>
              <td>₹ 10000</td>
            </tr>
            <tr>
              <td class="bg2">Discount</td>
              <td>₹ 1000</td>
            </tr>
            <tr>
              <td class="bg2">Total Amount</td>
              <td>₹ 9000</td>
            </tr>
          </table>
          <img style="width: 1080px;" src="../../assets/images/line-10@1x.png">
          <div class="col-md-3 mt-3" >
            <a routerLink="/send"><button class="btn1 btn-lg px-4 mr-3">Send</button></a>
            <a href="#"><button class="btn2 btn-lg px-4 ">Cancel</button></a>
            </div>
</div>
</div>
</div>
<footer class="bg-light " style="height: 90px; width: 1160px; box-sizing: border-box; padding: 25px 0;  margin-left: 190px; margin-top: -90px;   ">
    <div class="container-fluid">
        <div class="footter-element " style="display: flex;">
            <img src="../../assets/img/Call-icon.svg" style="width: 15px;"class="mr-1">
    
            <h4 class="text-info" style="font-size: 16px; font-weight: 400; margin-left: 3px;">847-769-8937</h4>
            <img src="../../assets/img/Mail-icon.svg" style="margin-left: 10px; width: 15px;" class="mr-1">
            <h4 class="text-info " style="font-size: 16px; font-weight: 400; margin-left: 3px;">sales@ensarsolutions.com</h4>
            <span class="text-muted " style="margin-left:10px;">Copyright &copy; 2020 Ensar Solutions.</span>
        </div>
        
    </div>
    </footer>  