<nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 sidebar navbar-fixed-top">
        <div class="mt-3 ml-5">
          <img src="../../assets/images/group-1220-1@1x.png" width="80%" >
      </div> 
     <div class="bg mt-4">  
      <img class=" ml-4 mt-3" src="../../assets/images/nopath---copy@1x.png" width="20%">
      <div class=" john ">John Smith</div>
    <a href="#" class="log-out"> <img src="../../assets/images/1286969@1x.png" width="15px" > Log out</a>   
     </div>
     <ul class="navbar-nav flex-column mt-4 ml-4">
      <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><img src="../../assets/images/dashboard-1.svg " width="18px" class="mr-2"> Dashboard</a></li>
  
      <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 current "><img src="../../assets/images/invoice.svg" width="18px" class="mr-2">Create Invoice</a></li>
  
      <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><img src="../../assets/images/invoice-2.svg" width="18px" class="mr-2"> My Invoice</a></li>
  
      <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><img src="../../assets/images/contacts.svg" width="18px" class="mr-2" > My Contacts</a></li>
  
     </ul>
    </div>
    </div>
  </div>
  </nav>
  

<div class="row topbar">
 <div class="col-lg-8">
  <div class="card-body ">
    <div class="text-info" style="font-weight: 400; font-size: 20px; "><img src="../../assets/images/invoicec2.svg" width="18px" class="mr-1"> Create Invoice </div>
    <div style="margin-top: -25px;">
     <button type="button" class="card-common"><img src="../../assets/images/invoice.svg" width="18px" class="mr-2">Create Invoice</button>
    </div>
    <img src="../../assets/images/line-4@1x.png" width="1060px">
    <div class="col-md-13 ml-3">
      <label class="mt-4">Subject</label>
      <input type="text" placeholder="Subject" class="form-control" style="margin-left: 100px; margin-top: -37px ;">
    </div>
    <div class="col-md-5">
      <label class="mt-5 ">Invoice For</label>
      <input type="text" placeholder="Invoice for" class="form-control" style="margin-left: 100px; margin-top: -40px ;">
      <label class="mt-5">Issue Date</label>
      <input type="text" placeholder="Issue date" class="form-control" style="margin-left: 100px; margin-top: -40px ;">
      <label class="mt-5">Discount</label>
      <input type="text" placeholder="Discount" class="form-control" style="margin-left: 100px; margin-top: -40px ;">
    </div>
    <div class="col-md-5" style="margin-left: 405px; margin-top: -175px ;">
      <label>Po Number</label>
      <input type="text" placeholder="Po Number" class="form-control" style="margin-left: 100px; margin-top: -40px ;">
      <label class="mt-5">Due Date</label>
      <input type="text" placeholder="Due Date " class="form-control" style="margin-left: 100px; margin-top: -40px; margin-bottom: 40px;">
    </div>
  </div>
</div>


<div class="bg1 mt-5">
  <div class="col-md-2 mt-3">
    <label class="ml-2 mb-3">Item Type</label>
    <input type="text" placeholder="Item" class="form-control">
  </div>
  <div class="col-md-3"style="margin-top: -73px; margin-left: 170px;">
    <label class="ml-2 mb-3">Description</label>
    <input type="text" placeholder="Description" class="form-control">
  </div>
  <div class="col-md-2"style="margin-top: -72px; margin-left: 440px;">
    <label class="ml-2 mb-3">Quantity</label>
    <input type="text" placeholder="Quantity" class="form-control">
  </div>
  <div class="col-md-2"style="margin-top: -72px; margin-left: 610px;">
    <label class="ml-2 mb-3">Unit Price</label>
    <input type="text" placeholder="Unit Price" class="form-control">
  </div>
  <div class="col-md-1"style="margin-top: -72px; margin-left: 780px;">
    <label class="ml-2 mb-3">CGST%</label>
    <input type="text" placeholder="CGST" class="form-control">
  </div>
  <div class="col-md-1"style="margin-top: -72px; margin-left: 860px;">
    <label class="ml-2 mb-3">SGST%</label>
    <input type="text" placeholder="SGST" class="form-control">
  </div>
  <div class="col-md-2"style="margin-top: -72px; margin-left: 940px;">
    <label class="ml-2 mb-3">Amount</label>
    <input type="text" placeholder="Amount" class="form-control">
  </div>
  <div class="col-md-1 mt-3">
    <a href="#" class="mb-5"><button type="button" class="btn btn-primary form-control" style="width: 80px;" ><img src="../../assets/images/path-2411@1x.png "width="15px" class="mr-1">Add</button></a>
  </div>
</div>
</div>

<div class="row bottom">
  <table class="td1 table  border-right  border-left  border-bottom border-top">
    <tr>
      <td class="bg2">Amount</td>
      <td>₹ 100</td>
    </tr>
    <tr>
      <td class="bg2">Discount</td>
      <td>₹ 10</td>
    </tr>
    <tr>
      <td class="bg2">Total Amount</td>
      <td>₹ 90</td>
    </tr>
  </table>
  <img style="width: 1130px;" src="../../assets/images/line-10@1x.png">

  <div class="col-md-3 mt-4" >
    <a href="#" class="btn1 btn-lg px-4 mr-2 ">Preview</a>
    <a href="#" class="btn1 btn-lg px-4 mr-2 ">Submit</a>
    <a href="#" class="btn2 btn-lg px-4" style="margin-top: -55px; margin-left: 10px;">Reset</a>
 </div>
</div>

<footer class="bg-light " style="height: 70px; width: 1155px; box-sizing: border-box; padding: 25px 0;  margin-left: 190px;margin-top: -70px;   ">
  <div class="container-fluid">
      <div class="footter-element " style="display: flex;">
          <img src="../../assets/img/Call-icon.svg" style="width: 15px;"class="mr-1">
  
          <h4 class="text-info" style="font-size: 16px; font-weight: 400; margin-left: 3px;">847-769-8937</h4>
          <img src="../../assets/img/Mail-icon.svg" style="margin-left: 10px; width: 15px;" class="mr-1">
          <h4 class="text-info " style="font-size: 16px; font-weight: 400; margin-left: 3px;">sales@ensarsolutions.com</h4>
          <span class="text-muted " style="margin-left:10px;">Copyright &copy; 2020 Ensar Solutions.</span>
      </div>
      
  </div>
  </footer>  

  <div class="screen-bg"></div>
       <div class="preview-bg"></div>
       
       <div class="invoice ">
         <div class="font-class-1 text-info"><img src="../../assets/images/invoicec2.svg" width="18px"  > Invoice Preview</div> 
         <div style="margin-left: 850px; margin-top: -30px;">
           <img src="../../assets/images/download.svg" width="25px" class="mr-2">
           <a routerLink="/invoice"><img src="../../assets/images/send.svg" width="25px" class="mr-2"></a>
           <a routerLink="/dashboard1"><img src="../../assets/images/remove.svg" width="25px" class="mr-2"></a>
         </div>
          <img src="../../assets/images/line-4@1x.png" width="950px">
         
         <div >
         <div class= "mb-3">Subject</div>
         <div class= "mb-3" style="margin-left:100px ; margin-top: -40px;">Invoice xxx xxxxxxxx xxx xxxxx</div>
         
         <div class= "mb-3">Invoice for</div>
         <div class= "mb-3" style="margin-left:100px ; margin-top: -40px;">ABC COmpany Pvt Ltd</div>
         
         <div class= "mb-3">Issue Data</div>
         <div class= "mb-3" style="margin-left:100px ; margin-top: -40px;">12/11/2020</div>
        
         <div class= "mb-3">PO Number</div>
         <div class= "mb-3" style="margin-left:100px ; margin-top: -40px;">XYZ 23453234</div>

         <div class= "mb-3">Due Date</div>
         <div class= "mb-3" style="margin-left:100px ; margin-top: -40px;">23/11/2020</div>

         <div class= "mb-3">Discount</div>
         <div class= "mb-3" style="margin-left:100px ; margin-top: -40px;">₹ 1000.00</div>
         </div>
         <div style="margin-top: -120px; margin-left:500px ; line-height: 30px;">
          From <br   > 50 South main street,<br />Suite 200,Naperville,<br />IL 60540
         </div>
         <div class="table-bg ">
           <div class="mt-3 ml-3">
            <table class="table"  >
              <thead>
                  <tr>
                      <th >Input type</th>
                      <th>Description</th>
                      <th  >Quantity</th>
                      <th>Unit Price</th>
                      <th>CGST%</th>
                      <th>SGST%</th>
                      <th>Amount</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                    <td>xxxxxxx</td>
                    <td>xxxx xxxxxx xxxxx xxxxxxxx</td>
                    <td>xx</td>
                    <td>₹ xxxx</td>
                    <td>xx</td>
                    <td>xx</td>
                    <td>₹ xxxxxx</td>
                </tr>
                <tr>
                  <td>xxxxxxx</td>
                  <td>xxxx xxxxxx xxxxx xxxxxxxx</td>
                  <td >xx</td>
                  <td>₹ xxxx</td>
                  <td>xx</td>
                  <td>xx</td>
                  <td>₹ xxxxxx</td>
              </tr>
              </tbody>
              </table>
           </div>
         </div>
          <table class="td2 table  border-right  border-left  border-bottom border-top">
            <tr>
              <td class="bg2">Amount</td>
              <td>₹ 10000</td>
            </tr>
            <tr>
              <td class="bg2">Discount</td>
              <td>₹ 1000</td>
            </tr>
            <tr>
              <td class="bg2">Total Amount</td>
              <td>₹ 9000</td>
            </tr>
          </table>
        </div>