<nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 sidebar navbar-fixed-top">
          <div class="mt-3 ml-5">
            <img src="../../assets/images/group-1220-1@1x.png" width="80%" >
        </div> 
       <div class="bg mt-4">  
        <img class=" ml-4 mt-3" src="../../assets/images/nopath---copy@1x.png" width="20%">
        <div class=" john ">John Smith</div>
      <a href="#" class="log-out"> <img src="../../assets/images/1286969@1x.png" width="15px" > Log out</a>   
       </div>
       <ul class="navbar-nav flex-column mt-4 ml-4">
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><img src="../../assets/images/dashboard-1.svg " width="18px" class="mr-2"> Dashboard</a></li>
    
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link "><img src="../../assets/images/invoice.svg" width="18px" class="mr-2">Create Invoice</a></li>
    
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><img src="../../assets/images/invoice-2.svg" width="18px" class="mr-2"> My Invoice</a></li>
    
        <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><img src="../../assets/images/contacts.svg" width="18px" class="mr-2" > My Contacts</a></li>
    
       </ul>
      </div>
      </div>
    </div>
    </nav>

   
    <div class="row topbar">
      <div class="col-lg-8">
<div class="card-body ">
  <div class="text-info mb-3" style="font-weight: 400; font-size: 20px;  "><img src="../../assets/images/invoicec2.svg" width="18px" class="mr-2" >Pay Invoice </div>
  <img src="../../assets/images/line-4@1x.png" width="1070px" class="mb-2">
  <div style="line-height: 45px; margin-left: 100px; margin-top: 50px;">
    <div >Invoice for</div>
    <div  style="margin-left:150px ; margin-top: -40px;">ABC COmpany Pvt Ltd</div>
    
    <div >Issue Data</div>
    <div  style="margin-left:150px ; margin-top: -40px;">12/11/2020</div>
   
    <div>PO Number</div>
    <div style="margin-left:150px ; margin-top: -40px;">XYZ 23453234</div>

    <div >Due Date</div>
    <div  style="margin-left:150px ; margin-top: -40px;">23/11/2020</div>

    <div >Amount</div>
    <div  style="margin-left:150px ; margin-top: -40px;">₹ 10000.00</div>
    

    <div >Discount</div>
    <div  style="margin-left:150px ; margin-top: -40px;">₹ 1000.00</div>

    <div >Total Amount</div>
    <div  style="margin-left:150px ; margin-top: -40px;">₹ 9000.00</div>
    </div>
    <img style="margin-top: -330px; margin-left: 430px; height: 450px;" src="../../assets/images/line-18@1x.png" />
</div>
</div>
</div>

<div class="row payments">
  <div class="col-lg-12">
    <div class="card-body">

      <div class="mb-4" >Pick a Payment Method</div> 

      <div class="bg1">    
        <div class="ml-4 mt-4">
          <div><img src="../../assets/images/credit-card.svg" width="40px" class="ml-2"> </div>
          <div style="margin-top: -5px;"> Credit Card</div>
          <div style="margin-left: 150px; margin-top: -70px;">Card Number</div>
          <input type="text" class="form-control mt-2" style="margin-left:150px ; width: 320px;" placeholder="xxxx xxxx xxxx xxxx">
          <div style="margin-left: 150px; margin-top: 40px;">Expiry date</div>
          <input type="text" class="form-control mt-2" style="margin-left:150px ; width: 150px;" placeholder="MM/YY">
          <div style="margin-left: 320px; margin-top: -65px;">CVV</div>
          <input type="text" class="form-control mt-2" style="margin-left:320px ; width: 150px;" placeholder="XXX">
          <div style="margin-left: 150px; margin-top: 35px;">Name on Card</div>
          <input type="text" class="form-control mt-2" style="margin-left:150px ; width: 320px;" placeholder="xxxxxxxxxx xxxxx"> 
        </div>
      </div>

      <div style="margin-top: 140px;">
      <div class="ml-1 bg2">
        <div class="ml-5 mt-3"><img src="../../assets/images/1621626@1x.png" width="40px" class="ml-2"></div>
        <div class="ml-5 mt-2">  Debit Card</div>
      </div>
      <div class="ml-1  bg2" style="margin-top: 115px;">
        <div class="ml-5 mt-3"><img src="../../assets/images/path-2461@1x.png" width="40px"class="ml-1"></div>
        <div class="ml-5 mt-2">Wallet</div>
      </div>
      </div>
      <div style="margin-top: 400px;">
        <div><a routerLink="/payinvoice2" class="btn1 px-4 py-2 mr-3">Continue</a></div>
      </div>
      <div style="margin-top: -18px; margin-left: 140px;">
        <div><a href="#" class="btn2 px-4 py-2 mr-3">Cancel</a></div>
    </div>
  </div>
</div>
</div>


<footer class="bg-light " style="height: 100px; width: 1160px; box-sizing: border-box; padding: 25px 0;  margin-left: 190px; margin-top: -100px;   ">
  <div class="container-fluid">
      <div class="footter-element " style="display: flex;">
          <img src="../../assets/img/Call-icon.svg" style="width: 15px;"class="mr-1">
  
          <h4 class="text-info" style="font-size: 16px; font-weight: 400; margin-left: 3px;">847-769-8937</h4>
          <img src="../../assets/img/Mail-icon.svg" style="margin-left: 10px; width: 15px;" class="mr-1">
          <h4 class="text-info " style="font-size: 16px; font-weight: 400; margin-left: 3px;">sales@ensarsolutions.com</h4>
          <span class="text-muted " style="margin-left:10px;">Copyright &copy; 2020 Ensar Solutions.</span>
      </div>
      
  </div>
  </footer>  

   